<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424533163757-heof5bg28f3a5kut5ccsfai4b4d6a0h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424533163757-heof5bg28f3a5kut5ccsfai4b4d6a0h4</string>
	<key>API_KEY</key>
	<string>AIzaSyD355xofAXGqU23_suVNp6xeUnVvojNTes</string>
	<key>GCM_SENDER_ID</key>
	<string>424533163757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habits</string>
	<key>PROJECT_ID</key>
	<string>habits-12e0c</string>
	<key>STORAGE_BUCKET</key>
	<string>habits-12e0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424533163757:ios:31c83cc9b10fc4a41dd6e4</string>
	<key>DATABASE_URL</key>
	<string>https://habits-12e0c.firebaseio.com</string>
</dict>
</plist>